In [2]:
import pandas as pd

In [15]:
# data import 
users_df = pd.read_csv('raw_data/users.csv')
centers_df = pd.read_csv('raw_data/distribution_centers.csv')
events_df = pd.read_csv('raw_data/events.csv')
inventory_items_df = pd.read_csv('raw_data/inventory_items.csv')
order_items_df = pd.read_csv('raw_data/order_items.csv')
orders_df = pd.read_csv('raw_data/orders.csv')
products_df = pd.read_csv('raw_data/products.csv')

In [16]:
users_df.columns

# 'age', 
# 'gender', 
# 'country',
# 'traffic_source', -- marketing source
# 'created_at' -- how long did the customer stay in our platform?

# 'street_address',
# 'postal_code',
# 'city',
# 'state',
# 'latitude',
# 'longitude', -- area that has high income?

Index(['id', 'first_name', 'last_name', 'email', 'age', 'gender', 'state',
       'street_address', 'postal_code', 'city', 'country', 'latitude',
       'longitude', 'traffic_source', 'created_at'],
      dtype='object')

In [10]:
users_df.traffic_source.value_counts()

traffic_source
Search      70075
Organic     15110
Facebook     5816
Email        4947
Display      4052
Name: count, dtype: int64

In [17]:
orders_df.columns

# return ratio
# average process time

Index(['order_id', 'user_id', 'status', 'gender', 'created_at', 'returned_at',
       'shipped_at', 'delivered_at', 'num_of_item'],
      dtype='object')

In [18]:
orders_df.status.value_counts()

status
Shipped       37577
Complete      31354
Processing    25156
Cancelled     18609
Returned      12530
Name: count, dtype: int64

In [20]:
centers_df.head()

   id            name  latitude  longitude
0   1      Memphis TN   35.1174   -89.9711
1   2      Chicago IL   41.8369   -87.6847
2   3      Houston TX   29.7604   -95.3698
3   4  Los Angeles CA   34.0500  -118.2500
4   5  New Orleans LA   29.9500   -90.0667